*{
    margin:0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
}
header{
    height: 850px;
    width: 100%;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
}
.h-1{
    font-size:80px;
    font-weight: bolder;
}
.h-2{
    font-size: 18px;
}
